.dialogContacto {
  width: fit-content;
  height: fit-content;
  position: fixed; /* Changed from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogContacto .closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.Contacto {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  transition: all 0.1s ease-in;
}

.Contacto .contactMethods {
  display: flex;
  gap: 2rem;
}

.Contacto .contactMethod {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 2px 2px var(--Shadow);
  border-radius: 20px;
  transition: all 0.1s ease-in;
  padding: 10px 20px;
  min-width: calc(315px - 20px * 2);
  cursor: pointer;
}
.Contacto .contactMethod:hover {
  box-shadow: 0 0 5px 5px var(--Shadow);
}

.Contacto .contactMethod h4,
.Contacto .contactMethod span {
  transition: all 0.1s ease-in;
}

.Contacto .contactMethod:hover svg,
.Contacto .contactMethod:hover h4,
.Contacto .contactMethod:hover span {
  color: var(--Accent);
  fill: var(--Accent);
}

.Contacto .contactMethod svg {
  width: 2rem;
}

.Contacto .divisor {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.Contacto .line {
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: var(--Light);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 50%;
}
form label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--Heading);
}
form input,
form textarea {
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--Heading);
}
form textarea {
  resize: none;
  height: 5rem;
}

form button {
  align-self: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Contacto .contactMethods {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Contacto .contactMethod {
    width: fit-content;
  }
  .Contacto span {
    font-size: 0.8rem;
  }
  form {
    width: 100%;
  }
}
