dialog {
  position: fixed;
  top: calc(50% - 90% / 2);
  left: calc(50% - 90% / 2);
  z-index: 1;
  width: calc(90% - 60px);
  height: calc(90% - 60px);
  overflow: scroll;
  margin: 0;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: var(--BGdark);
  border: none;
  box-shadow: 0 0 10px var(--Shadow);
  transition: all 0.5s;
}
dialog::backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
dialog button.closeButton {
  position: fixed;
  top: calc(50% - 90% / 2);
  right: calc(50% - 90% / 2);
  margin: 0;
  border-radius: 0 20px 0 20px;
  background-color: var(--BGlight);
  color: var(--Heading);
  border: 0px;
  box-shadow: -1px 1px 5px var(--Shadow);
}

dialog button {
  max-width: fit-content;
}

dialog::-webkit-scrollbar {
  width: 0;
}

dialog svg {
  fill: var(--Heading);
}
