.Acerca {
  width: calc(100% - 60px * 2);
  padding: 150px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
  text-align: left;

  border-radius: 20px;
  background: var(--BGlight);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.Acerca img {
  width: 25svw;
  border-radius: 15px;
}

.Acerca .desc {
  width: 45ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media (max-width: 1000px) {
  .Acerca {
    width: calc(100% - 25px * 2);
    flex-direction: column;
    gap: 2.5rem;
    padding: 100px 25px;
  }

  .Acerca img {
    width: 70%;
  }

  .Acerca .desc {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .Acerca img {
    width: 90%;
  }

  .Acerca .desc {
    width: 90%;
  }
}
