.experience {
  width: calc(100% - 60px * 2);
  padding: 150px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
  text-align: left;

  border-radius: 20px;
  background: var(--BGlight);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1000px) {
  .experience {
    width: calc(100% - 25px * 2);
    flex-direction: column;
    gap: 2.5rem;
    padding: 100px 25px;
  }
}
