.experience {
  width: calc(100% - 4rem * 2);
  padding: 16rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  text-align: left;

  border-radius: 1rem;
  background: var(--BGlight);
  box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 62.5rem) {
  .experience {
    width: calc(100% - 1.5rem * 2);
    flex-direction: column;
    gap: 2.5rem;
    padding: 6rem 1.5rem;
  }
}
