.footer {
  width: calc(100% - 12rem * 2);
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
  background-color: var(--BGlight);
  border-radius: 20px 20px 0 0;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer a.githubCode:hover {
  border-bottom: 2px solid var(--Accent);
}
.footer a:hover svg {
  fill: var(--Accent);
}
.footer .socialLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.footer svg {
  fill: var(--Heading);
}
.footer svg:hover {
  fill: var(--Accent);
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2rem * 2);
    padding: 0 2rem;
    height: 14rem;
  }
}
