.hero {
  display: flex;
  padding: calc(100px + 4rem) 0 100px 0;
  flex-direction: column;
  align-items: center;
  gap: 86px;
}
.hero .yo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.hero .yo img {
  width: 414px;
  border-radius: 15px;
}

.hero .desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.hero p {
  text-align: left;
  width: 439px;
  height: 46px;
}

.hero .buttons {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.hero .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 70%;
}

.hero .techText {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero span {
  color: var(--Heading);
  font-size: 14px;
  font-weight: 600;
}

.hero .verticalLine {
  width: 1px;
  height: 30px;
  background: var(--Heading);
}

.hero .techs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

@media (max-width: 1000px) {
  .hero {
    padding: 100px 0 100px 0;
    gap: 42px;
  }

  .hero .yo {
    text-align: center;
    flex-direction: column-reverse;
    gap: 42px;
  }

  .hero .yo img {
    width: 60%;
  }
  .hero p {
    margin-bottom: 3rem;
  }

  .hero .desc {
    align-items: center;
    gap: 22px;
  }

  .hero p {
    width: 80%;
    text-align: center;
  }

  .hero .buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hero .tech {
    flex-direction: column;
    gap: 42px;
  }

  .hero .techText {
    flex-direction: column;
    gap: 15px;
  }

  .hero .verticalLine {
    display: none;
  }

  .hero .techs {
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 42px;
  }
}
