nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12rem * 2);
  padding: 1rem 12rem;

  background: var(--BGlight);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

  z-index: 999;
}
nav .logo {
  color: var(--Heading);
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
nav .logo:hover, nav .logo:hover svg {
  color: var(--Accent);
  fill: var(--Accent);
}
nav .logo svg {
  height: 2rem;
  margin-right: 0.5rem; 
}
nav .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  font-size: 15px;
  font-weight: 400;
}
nav .navigation a:hover {
  border-bottom: 2px solid var(--Accent);
}
nav .social {
  display: flex;
  width: 6.5rem;
  height: 1.5rem;
  justify-content: space-between;
  gap: 1rem;
}

nav svg {
  fill: var(--Heading);
  transition: all 0.2 ease-in-out;
}
nav svg:hover {
  fill: var(--Accent);
}

@media (max-width: 1000px) {
  nav {
    width: calc(100% - 2.5rem * 2);
    padding: 1rem 2.5rem;
    justify-content: space-between;
  }
  nav .navigation {
    display: none;
  }
  nav .social {
    display: none;
  }
}
