.Proyectos {
  display: flex;
  width: calc(100% - 50px * 2);
  padding: 100px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (max-width: 768px) {
  .Proyectos {
    width: calc(100% - 5vw * 2);
    padding: 5vh 5vw;
  }
}
