.Acerca {
    width: calc(100svw - 50px *2);
    padding: 115px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
    text-align: left;

    border-radius: 20px;
    background: var(--BGlight);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.Acerca img {
    width: 25svw;
    border-radius: 15px;
}

.Acerca .desc {
    width: 42ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}