button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 14px 35px;

  border-radius: 8px;
  border: 1px solid var(--Heading);  
  font-size: 1em;
  
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: transparent;
    color: var(--Heading);
}

.primary {
    border-color: var(--Accent);
    background-color: var(--Accent);
    font-weight: 600;
}

.secundary {
    color: var(--Heading);
    border-color: var(--Heading);
    background-color: transparent;
    font-weight: 400;
}

.tertiary {
    color: var(--Heading);
    border-color: var(--Heading);
    background-color: transparent;
    font-weight: 400;
    padding: 8px 30px;
}