.NavBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12rem * 2);
  padding: 1rem 12rem;
  

  background: var(--BGlight);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  
  z-index: 999;
}
.NavBar .logo{
  color: var(--Heading);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}
.NavBar .navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  font-size: 15px;
  font-weight: 400;
}
.NavBar .social{
  display: flex;
  width: 6.5rem;
  height: 1.5rem;
  justify-content: space-between;
  gap: 1rem;
}

.NavBar svg {
  fill: var(--Heading);
  transition: all 0.2 ease-in-out;
}
.NavBar svg:hover{
  fill: var(--Accent);
}