.experienceCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: all 0.5s;
  border-radius: 20px;
  width: fit-content;
}

.experienceCard:hover {
  transform: scale(1.015);
  box-shadow: 0px 0px 6px 2px var(--Shadow);
  background: rgba(127, 127, 127, 0.1);
}

.experienceCard img {
  width: 40svw;
  transition: all 0.5s;
}

.experienceCard img.leftImg {
  border-radius: 20px 0px 0px 20px;
}

.experienceCard img.rightImg {
  border-radius: 0px 20px 20px 0px;
}

.experienceCard .desc {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.experienceCard p {
  align-self: stretch;
  text-wrap: balance;
}

.experienceCard .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .experienceCard {
    flex-direction: column;
    gap: 20px;
  }

  .experienceCard.rightDesc {
    flex-direction: column-reverse;
  }

  .experienceCard img {
    width: 100%;
  }

  .experienceCard img.leftImg {
    border-radius: 20px 20px 20px 20px;
  }

  .experienceCard img.rightImg {
    border-radius: 20px 20px 20px 20px;
  }

  .experienceCard .desc {
    width: 100%;
  }
}
