.project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.project img {
  width: 40svw;
}

.project img.leftImg {
  border-radius: 20px 0px 0px 20px;
}

.project img.rightImg {
  border-radius: 0px 20px 20px 0px;
}

.project .desc {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.project p {
  align-self: stretch;
}

.project .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .project {
    flex-direction: column;
    gap: 20px;
  }

  .project.rightDesc {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
  }

  .project img.leftImg {
    border-radius: 20px 20px 20px 20px;
  }

  .project img.rightImg {
    border-radius: 20px 20px 20px 20px;
  }

  .project .desc {
    width: 100%;
  }
}
