.Proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.Proyecto img {
  width: 40svw;
}

.Proyecto img.leftImg {
  border-radius: 20px 0px 0px 20px;
}

.Proyecto img.rightImg {
  border-radius: 0px 20px 20px 0px;
}

.Proyecto .desc {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.Proyecto p {
  align-self: stretch;
}

.Proyecto .botones {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .Proyecto {
    flex-direction: column;
    gap: 20px;
  }

  .Proyecto.rightDesc {
    flex-direction: column-reverse;
  }

  .Proyecto img {
    width: 100%;
  }

  .Proyecto img.leftImg {
    border-radius: 20px 20px 20px 20px;
  }

  .Proyecto img.rightImg {
    border-radius: 20px 20px 20px 20px;
  }

  .Proyecto .desc {
    width: 100%;
  }
}
